@charset "utf-8";
/* CSS Document */


header {
    background-color:black ;
    width: 100%;
    position: fixed;
}

body {
    background-color: #262b36;
}

article {
    padding-top: 55px;/*ナビゲーションバーを固定すると、それ以降の要素が潜り込むのを回避*/
}

h1 {
    color: white;
}

p {
    color: white;
}

.date {
    color: white;
}

.bg {
    padding-top: 55px;
    width: 100px;
    height: 300px;
    z-index: 1;
}

.maintitle{
    text-align: center;
    justify-content: center;
    margin-top: 350px;
    font-size: 100px;
    font-family: 'Lemonada', cursive;
}

.logo h1 {
    color: white;
    margin-left: 5%;
    float: left;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    font-family: 'Otomanopee One', sans-serif;/*google fonts用*/
}

h1 a {/*ロゴ部分、<a>で色がわかるのを防止*/
    color: white;
    text-decoration: none;
}

nav {
    list-style: none; /*点を消す*/
    overflow: hidden;/*回り込みを解除*/
    margin-right: 5%;
}
   
nav li a{
    display: block;
    width: 140px;
    text-align: center;
    background-color:black;
    float: right;/*横並びにする*/
    height: 50px;
    line-height: 50px;/*中央揃え*/
    margin-right: 2px;
    border-bottom: 3px solid black;
    font-family: 'Kiwi Maru', serif;
}

nav li a {
    text-decoration: none;/*下線を消す*/
    color: #ffffff;
    font-weight: bold;
}

nav li a:hover{
    color: white;
    border-bottom: 3px solid white;
}

.flexboxContainer {
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;/*水平方向の揃え*/
}

.flexboxItem {
    margin: 3%;
    padding: 10px;
    width: 40%;
    border-radius: 22px;
    background: #262b36;
    box-shadow:  16px 16px 32px #16191f,
             -16px -16px 32px #363d4d;

}

.flexboxItem:hover {

    border-radius: px;
    background: #262b36;
    box-shadow: inset 16px 16px 32px #16191f,
            inset -16px -16px 32px #363d4d;
}


footer {
    background-color: black;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

footer address {
    color: white;
}